<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加或更新应用服务器配置</title>
    <link href="/static/assets/plugins/layui/css/layui.css" rel="stylesheet" />
    <script src="/static/assets/plugins/layui/layui.js"></script>
    <style>
        #user {
            padding: 4em 0;
        }
        #groups input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }

        input:disabled {
            background: #eee;
            border: solid 1px #ddd !important;
        }

        .layui-form-label {
            color: #e33;
            font-size: 24px;
        }

        /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
        ::-webkit-scrollbar
        {
            width: 5px;
            height: 5px;
            background-color: #F5F5F5;
        }

        /*定义滚动条轨道 内阴影+圆角*/
        ::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        /*定义滑块 内阴影+圆角*/
        ::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: rgba(136, 136, 136, .8);
        }

    </style>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-lg12 layui-col-md12 layui-col-sm12">
            <form class="layui-form" action="" id="app_host">
                <input type="hidden" name="id" value="{{ host.id }}">

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <fieldset class="layui-elem-field" style="border: solid 2px rgba(230, 219, 116, 1);">
                            <legend><i class="layui-icon" style="color: #e6db74;font-size: 36px;padding: 0">&#xe60b;</i></legend>
                            {% if not operate == 'V' %}
                                <div class="layui-field-box" style="color: #e33;">
                                    带“ * ”的内容必须填写
                                </div>
                            {% else %}
                                <div class="layui-field-box" style="color: #e33;">
                                    查看模式下不提供编辑功能
                                </div>
                            {% endif %}
                        </fieldset>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">*</label>
                    <div class="layui-input-block">
                        <input type="text" name="app_ip" value="{{ host.app_ip }}" {% if operate == 'V' %}disabled{% endif %} required lay-verify="required|ip" placeholder="请输入服务器IP地址" autofocus="true" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">*</label>
                    <div class="layui-input-block">
                        <input type="text" name="hostname" value="{{ host.hostname }}" {% if operate == 'V' %}disabled{% endif %} placeholder="例如(A-1,A-2)代表A组机器A-2需要等待A-1执行(否则不填)" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">*</label>
                    <div class="layui-input-block">
                        <input type="text" name="account" value="{{ host.account }}" {% if operate == 'V' %}disabled{% endif %} required lay-verify="required" placeholder="请输入服务器账号" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">*</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" value="{{ host.password }}" {% if operate == 'V' %}disabled{% endif %} required lay-verify="required" placeholder="请输入服务器密码" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">*</label>
                    <div class="layui-input-block">
                        <input type="text" name="app_directory" value="{{ host.app_directory }}" {% if operate == 'V' %}disabled{% endif %} required lay-verify="required" placeholder="请输入WebLogic路径" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="text" name="middleware_name" value="{{ host.middleware_name }}" {% if operate == 'V' %}disabled{% endif %} placeholder="请输入WebLogic账号" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="password" name="middleware_pass" value="{{ host.middleware_pass }}" {% if operate == 'V' %}disabled{% endif %} placeholder="请输入WebLogic密码" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">*</label>
                    <div class="layui-input-block">
                        <input type="text" name="upload_path" value="{{ host.upload_path }}" {% if operate == 'V' %}disabled{% endif %} required lay-verify="required" placeholder="请输入JAR包上传路径" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">*</label>
                    <div class="layui-input-block">
                        <input type="text" name="extend1" value="{{ host.extend1 }}" {% if operate == 'V' %}disabled{% endif %} required lay-verify="required" placeholder="请输入webapps备份路径" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">*</label>
                    <div class="layui-input-block">
                        <input type="text" name="port" value="{{ host.port }}" {% if operate == 'V' %}disabled{% endif %} required lay-verify="required" placeholder="请输入应用端口" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">*</label>
                    <div class="layui-input-block">
                        <input type="text" name="log_path" value="{{ host.log_path }}" {% if operate == 'V' %}disabled{% endif %} required lay-verify="required" placeholder="请输入日志文件路径" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block" style="text-align: center">

                        {% if not operate == 'V' %}

                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="save" id="save" style="background: #5fc0ea;" data-ope="1-{% if request.session.user.is_superuser %}2{% endif %}">立即提交</button>

                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>

                        {% endif %}

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script src="/static/assets/js/jquery-1.8.3.min.js"></script>
<script src="/static/js/tools.js"></script>
<script>

    $(document).ready(function(){
        layui.use('form', function(){

            layer.config({
                skin: 'theme-default'
            });

            var form = layui.form;

            form.verify({
                ip: [
                    /((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))/
                    ,'请输入正确的IP地址'
                ]
            });

            form.on('submit(save)', function(data){
                var dat = {
                    'application' : data.field,
                    'operate' : '{{ operate }}',
                    'temp_id' : parent.$('input[name="id"]').val()
                };
                if(dat.operate === 'C'){
                    delete dat.application.id;
                }
                dat.application = JSON.stringify(dat.application);
                $.post("{% url 'createConfig' %}",dat, function(result){
                    layer.msg('操作成功！',function(){
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index,function(){});
                        parent.location.href = "{% url 'createConfigPage' %}?menu=configs&operate=U&temp_id=" + result;
                    });
                });
                return false;
            });
        });
    })
</script>
