{% extends 'frame.html' %}

{% block css %}

    <link href="/static/css/mod.css" rel="stylesheet" />

{% endblock %}

{% block content %}

    <div class="content-wrapper">
                <div class="row">
                    <!-- Start .row -->
                    <!-- Start .page-header -->
                    <div class="col-lg-12 heading">
                        <h1 class="page-header"><i class="im-users"></i> 模板</h1>

                        <button type="button" class="btn btn-success" id="title-btn" title="新建模板"><i class="im-plus"></i>&nbsp; 新建模板</button>

                        <!-- Start .bredcrumb -->
                        <ul id="crumb" class="breadcrumb"></ul>
                        <!-- End .breadcrumb -->

                    </div>
                    <!-- End .page-header -->
                </div>
                <!-- End .row -->
                <div class="outlet">
                    <!-- Start .outlet -->
                    <!-- Page start here ( usual with .row ) -->
                    <div class="row" id="user-group-container">

                        <!-- User group here -->

                        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12" style="border-right: dashed 2px #ddd;">

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="tile-stats b brall mb25 gray-bg">
                                    <a href="#">
                                        <div class="tile-stats-icon"><i class="im-bubble2"></i>
                                        </div>
                                        <div class="tile-stats-content">
                                            <div class="tile-stats-number">部署应用</div>
                                            <div class="tile-stats-text">将应用部署到目标服务器</div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="tile-stats b brall mb25 blue-bg">
                                    <a href="#">
                                        <div class="tile-stats-icon"><i class="im-clock color-white"></i>
                                        </div>
                                        <div class="tile-stats-content">
                                            <div class="tile-stats-number color-white">3.4 hours</div>
                                            <div class="tile-stats-text color-white">Response time</div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="tile-stats b brall mb25 gray-bg">
                                    <a href="#">
                                        <div class="tile-stats-icon"><i class="im-bubble2"></i>
                                        </div>
                                        <div class="tile-stats-content">
                                            <div class="tile-stats-number">部署应用</div>
                                            <div class="tile-stats-text">将应用部署到目标服务器</div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                            </div><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="tile-stats b brall mb25 gray-bg">
                                    <a href="#">
                                        <div class="tile-stats-icon"><i class="im-bubble2"></i>
                                        </div>
                                        <div class="tile-stats-content">
                                            <div class="tile-stats-number">部署应用</div>
                                            <div class="tile-stats-text">将应用部署到目标服务器</div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                            </div><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="tile-stats b brall mb25 gray-bg">
                                    <a href="#">
                                        <div class="tile-stats-icon"><i class="im-bubble2"></i>
                                        </div>
                                        <div class="tile-stats-content">
                                            <div class="tile-stats-number">部署应用</div>
                                            <div class="tile-stats-text">将应用部署到目标服务器</div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                            </div><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="tile-stats b brall mb25 gray-bg">
                                    <a href="#">
                                        <div class="tile-stats-icon"><i class="im-bubble2"></i>
                                        </div>
                                        <div class="tile-stats-content">
                                            <div class="tile-stats-number">部署应用</div>
                                            <div class="tile-stats-text">将应用部署到目标服务器</div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                            </div><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="tile-stats b brall mb25 gray-bg">
                                    <a href="#">
                                        <div class="tile-stats-icon"><i class="im-bubble2"></i>
                                        </div>
                                        <div class="tile-stats-content">
                                            <div class="tile-stats-number">部署应用</div>
                                            <div class="tile-stats-text">将应用部署到目标服务器</div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                            </div>

                        <div>

                    </div>
                    <!-- End .row -->
                    <!-- Page End here -->
                </div>

                        <div class="col-lg-12 col-md-4 col-sm-6 col-xs-12">



                        </div>
                <!-- End .outlet -->
            </div>

{% endblock %}

{% block js %}

    <script type="text/javascript">

        function action(){



        }

        $(document).ready(function(){
            action();
        });

    </script>

{% endblock %}